# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: TangShiMei的小空间
subtitle: '这都被你发现了？！'
description: '没有一点描述就是最大的没描述（骗你们的，其实我也不知道这里写啥好...略略略）'
keywords: TangShiMei, 闲言碎语 ，小空间 ，吐槽
author: TangShiMei
language: zh-CN
timezone: ''

# URL
## Set your site url here. For example, if you use GitHub Page, set url as 'https://username.github.io/project'
url: http://tang-blog.leleosd.top   #这里更改是文章页面末尾的链接
# 永久链接格式
permalink: posts/:abbrlink/
# ====== abbrlink 插件配置（必须顶格！）======
abbrlink:
  alg: crc32    # 算法：crc32（快）或 md5（更唯一，但插件可能不支持）
  rep: hex      # 输出格式：dec = 十进制，hex = 十六进制（你选 dec） 

permalink_defaults:

pretty_urls:
  trailing_index: true # Set to false to remove trailing 'index.html' from permalinks
  trailing_html: true # Set to false to remove trailing '.html' from permalinks

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link:
  enable: true # Open external links in new tab
  field: site # Apply to the whole site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
syntax_highlighter: highlight.js
highlight:
  line_number: true
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: false
prismjs:
  preprocess: true
  line_number: true
  tab_replace: ''



# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
# 主页的每一页显示的文章数量在这里修改
index_generator:
  path: ''
  per_page: 10
  order_by: -date





  # Force enable tag and category pages








# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Generate /tags/ and /categories/ overview pages




# Metadata elements
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true



# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
## updated_option supports 'mtime', 'date', 'empty'
updated_option: 'mtime'

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Include / Exclude file(s)
## include:/exclude: options only apply to the 'source/' folder
include:
exclude:
ignore:

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: butterfly

butterfly:
  custom_css:
    - css/custom-every-pages-footer.css

# 又是一个关于收录的扩展把

# Sitemap
sitemap:
  path: sitemap.xml

baidusitemap:
  path: baidusitemap.xml



# Deployment
## Docs: https://hexo.io/docs/one-command-deployment
deploy:
  type: ''




# 本地搜索索引配置
search:
  path: search.json
  field: post      # post = 只索引文章；all = 文章+页面+标签
  content: true    # true = 索引全文；false = 只索引标题/摘要
  format: json


# 这个是朋友圈的那些功能  rss 什么的
# Feed Atom/RSS2
feed:
  type: rss2         # 输出 RSS 2.0 格式（也可以是 atom 或 all）
  path: rss2.xml     # 生成的文件名（默认是 feed.xml，建议自定义）
  limit: 20          # 最多输出 20 篇文章
  content: false     # false不输出正文内容（避免乱码、HTML 渲染问题）
  excerpt: true      # 输出摘要（可选前 100 字符）