/* 首页封面左右交替 */
.article-item:nth-child(odd) .article-cover {
  float: left;
  margin-right: 1rem;
}
.article-item:nth-child(even) .article-cover {
  float: right;
  margin-left: 1rem;
}
/* 让下方文字自动回正 */
.article-item::after {
  content: "";
  display: table;
  clear: both;
}